CSF_IMAGE=ghcr.io/morningstar-ski/chinesesubfinder-optimization:latest
CSF_CONTAINER_NAME=chinesesubfinder
CSF_HOSTNAME=chinesesubfinder
CSF_CONFIG_DIR=./config
CSF_MEDIA_DIR=./media
CSF_BROWSER_DIR=./browser
CSF_WEB_PORT=19035
CSF_STATIC_PORT=19037
PUID=1026
PGID=100
PERMS=true
TZ=Asia/Shanghai
UMASK=022
